@{
    var showSidebar = ViewData["ShowSidebar"] as bool? ?? false;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!-- Tailwind compilado -->
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css" />
</head>
<body>
    <div class="flex min-h-screen bg-gray-100">
        @if (showSidebar)
        {
            @await Html.PartialAsync("_SideBar")
        }

        <main class="flex-1 @(showSidebar ? "ml-64" : "")">
            @RenderBody()
        </main>
    </div>
</body>
</html>
